<div class="govuk-grid-column-one-quarter column-filters">
  <section class="filters" id="filters">
    <form action="/{{urlPrefix}}" method="GET" id="filter-form">

      <div role="widget" class="filter open">
        <div class="govuk-body filters-heading" role="button" aria-controls="filter-crn" aria-expanded="true" tabindex="0">
          <span id="filter-label-crn"></span>Search for word</span>
        <div class="toggle"></div>
      </div>
      <div id="filter-crn" class="filters-wrapper" aria-hidden="true" aria-labelledby="filter-label-crn">
        {{ govukInput({
            id: "filter-word",
            name: "filterWord",
            value: filterParams.word
          }) }}
      </div>
    </div>


    <div role="widget" class="filter">
      <div class="govuk-body filters-heading" role="button" aria-controls="filter-crn" aria-expanded="true" tabindex="0">
        <span id="filter-label-status"><span class="govuk-visually-hidden">Filter by</span>Word type</span>
      </div>
      <div id="filter-crn" class="filters-wrapper" aria-hidden="true" aria-labelledby="filter-label-crn">
        {{ govukRadios({
          idPrefix: "filter-word-type",
          name: "filterWordType",
          fieldset: {
            legend: {
              text: "What word type do you want to see?",
              isPageHeading: false,
              classes: "govuk-visually-hidden"
            }
          },
          items: [
          {
            value: "All",
            text: "Show all",
            checked: filterParams.status.referred.checked
          },
            {
              value: "Super",
              text: "Super restricted words",
              checked: filterParams.status.referred.checked
            },
            {
              value: "Normal",
              text: "Non-super restricted words",
              checked: filterParams.status.accepted.checked
            }
          ]
        }) }}
      </div>
    </div>

    <div role="widget" class="filter open">
      <div class="govuk-body filters-heading" role="button" aria-controls="filter-status" aria-expanded="true" tabindex="0">
        <span id="filter-label-status">
          <span class="govuk-visually-hidden">Filter by
          </span>Status</span>
        <div class="toggle"></div>
      </div>
      {{ govukRadios({
          idPrefix: "filter-status",
          name: "filterStatus",
          fieldset: {
            legend: {
              text: "What case statuses do you want to see?",
              isPageHeading: false,
              classes: "govuk-visually-hidden"
            },
            classes: "filters-wrapper"
          },
          items: [
            {
              value: "All",
              text: "All",
              checked: not filterParams.status or filterParams.status === "All"
            },
            {
              value: "Active",
              text: "Active",
              checked: filterParams.status === "Active"
            },
            {
              value: "Deleted",
              text: "Deleted",
              checked: filterParams.status === "Deleted"
            }
          ]
        }) }}
    </div>
    {{ govukButton({
      text: "Search",
      classes: "govuk-!-margin-right-1",
      attributes: { id: "filter-button" }
    }) }}
    {{ govukButton({
      text: "Clear Search",
      classes: "govuk-button--secondary link filter-reset",
      href: "/" + urlPrefix,
      attributes: { id: "clear-filter-button" }
    }) }}
  </form>
</section>
</div>
