<div class="govuk-grid-column-one-quarter column-filters">
  <section class="filters" id="filters">
    <form action="/{{urlPrefix}}" method="GET" id="filter-form">

      <div role="widget" class="filter open">
        <div class="govuk-body filters-heading" role="button" aria-controls="filter-crn" aria-expanded="true" tabindex="0">
          <span id="filter-label-crn"></span>Search for word</span>
        <div class="toggle"></div>
      </div>
      <div id="filter-crn" class="filters-wrapper" aria-hidden="true" aria-labelledby="filter-label-crn">
        {{ govukInput({
            id: "filter-word",
            name: "filterWord",
            value: filterParams.word
          }) }}
      </div>
    </div>


    <div role="widget" class="filter open">
      <div class="govuk-body filters-heading" role="button" aria-controls="filter-crn" aria-expanded="true" tabindex="0">
        <span id="filter-label-status"><span class="govuk-visually-hidden">Filter by</span>Word type</span>
      </div>
      <div id="filter-crn" class="filters-wrapper" aria-hidden="true" aria-labelledby="filter-label-crn">
        {{ govukRadios({
          idPrefix: "filter-word-type",
          name: "filterSuperRestricted",
          fieldset: {
            legend: {
              text: "What word type do you want to see?",
              isPageHeading: false,
              classes: "govuk-visually-hidden"
            }
          },
          items: [
          {
            value: "All",
            text: "Show all",
            checked: not filterParams.superRestricted or filterParams.superRestricted === "All"
          },
            {
              value: "Super",
              text: "Super restricted words",
              checked: filterParams.superRestricted === "Super"
            },
            {
              value: "Normal",
              text: "Non-super restricted words",
              checked: filterParams.superRestricted === "Normal"
            }
          ]
        }) }}
      </div>
    </div>

    <div role="widget" class="filter open">
      <div class="govuk-body filters-heading" role="button" aria-controls="filter-status" aria-expanded="true" tabindex="0">
        <span id="filter-label-status">
          <span class="govuk-visually-hidden">Filter by
          </span>Status</span>
        <div class="toggle"></div>
      </div>
      {{ govukRadios({
          idPrefix: "filter-status",
          name: "deletedStatus",
          fieldset: {
            legend: {
              text: "What case statuses do you want to see?",
              isPageHeading: false,
              classes: "govuk-visually-hidden"
            },
            classes: "filters-wrapper"
          },
          items: [
            {
              value: "All",
              text: "All",
              checked: not filterParams.status or filterParams.status === "All"
            },
            {
              value: "Active",
              text: "Active",
              checked: filterParams.status === "Active"
            },
            {
              value: "Deleted",
              text: "Deleted",
              checked: filterParams.status === "Deleted"
            }
          ]
        }) }}
    </div>
    <div role="widget" class="filter open">
      <div class="govuk-body filters-heading" role="button" aria-controls="filter-categories" aria-expanded="true" tabindex="0">
        <span id="filter-label-cat">
          <span class="govuk-visually-hidden">Filter by
          </span>Categories</span>
        <div class="toggle"></div>
      </div>
      {{ govukCheckboxes({
          idPrefix: "filter-categories",
          name: "categorySelection",
          fieldset: {
            legend: {
              text: "Which categories do you want to see?",
              isPageHeading: false,
              classes: "govuk-visually-hidden"
            },
            classes: "filters-wrapper"
          },
          items: [
            {
              id: "restricted",
              value: "restricted",
              text: "Restricted",
              checked: false if not filterParams.categories else filterParams.categories.includes("restricted")
            },
            {
              id: "international-orgs-foreign-gov-depts",
              value: "international-orgs-foreign-gov-depts",
              text: "International orgs/ govts",
              checked: false if not filterParams.categories else filterParams.categories.includes("international-orgs-foreign-gov-depts")
            },
            {
              id: "criminal-fraudulent-purposes",
              value: "criminal-fraudulent-purposes",
              text: "Names for crime/ fraud",
              checked: false if not filterParams.categories else filterParams.categories.includes("criminal-fraudulent-purposes")
            },
            {
              id: "prev-subjected-to-direction-to-change",
              value: "prev-subjected-to-direction-to-change",
              text: "Names direction to change",
              checked: false if not filterParams.categories else filterParams.categories.includes("prev-subjected-to-direction-to-change")
            }
          ]
        }) }}
    </div>
    {{ govukButton({
      text: "Search",
      classes: "govuk-!-margin-right-1",
      attributes: { id: "filter-button" }
    }) }}
    {{ govukButton({
      text: "Clear",
      classes: "govuk-button--secondary link filter-reset",
      href: "/" + urlPrefix,
      attributes: { id: "clear-filter-button" }
    }) }}
  </form>
</section>
</div>
