{
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {}
    },
    "extends": "eslint:recommended",
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "chai-friendly"
    ],
    "overrides": [
        {
            "files": ["config.ts"],
            "rules": {
                "no-process-env": "off"
            }
        }, {
            "files": ["*.test.ts", "*.spec.ts"],
            "rules": {
                "no-magic-numbers": "off",
                "@typescript-eslint/no-magic-numbers": "off",
                "global-require": "off",
                "no-process-env": "off",
                "no-unused-expressions": "off",
                "chai-friendly/no-unused-expressions": 2
            }
        }
    ],
    "rules": {
        "array-bracket-newline": ["error", { "multiline": true }],
        "array-bracket-spacing": 2,
        "array-element-newline": ["error", "consistent"],
        "arrow-body-style": 2,
        "arrow-spacing": 2,
        "block-spacing": 2,
        "brace-style": 2,
        "callback-return": 2,
        "camelcase": 2,
        "class-methods-use-this": 2,
        "comma-dangle": 2,
        "comma-spacing": 2,
        "comma-style": 2,
        "curly": 2,
        "dot-location": ["error", "property"],
        "dot-notation": ["error", { "allowPattern": "^[a-z]+(_[a-z]+)+$|^[A-Z]" }],
        "eol-last": 2,
        "eqeqeq": 2,
        "func-call-spacing": 2,
        "func-name-matching": 2,
        "function-paren-newline": ["error", "consistent"],
        "global-require": 2,
        "id-length": ["error", { "exceptions": ["x", "i"] }],
        "implicit-arrow-linebreak": "off",
        "indent": 2,
        "lines-between-class-members": 2,
        "max-classes-per-file": 2,
        "multiline-comment-style": 2,
        "new-cap": 2,
        "new-parens": 2,
        "newline-after-var": 2,
        "newline-before-return": 2,
        "newline-per-chained-call": 2,
        "no-await-in-loop": 2,
        "no-eval": 2,
        "no-extra-parens": [
            "error",
            "all",
            {
                "enforceForArrowConditionals": false,
                "enforceForNewInMemberExpressions": false,
                "nestedBinaryExpressions": false
            }
        ],
        "no-extra-semi": 2,
        "no-magic-numbers": "off",
        "@typescript-eslint/no-magic-numbers": ["error", {
            "ignore": [0, 1],
            "ignoreArrayIndexes": true,
            "ignoreReadonlyClassProperties": true,
            "ignoreEnums": true
        }],
        "no-multi-spaces": 2,
        "no-multiple-empty-lines": 2,
        "no-new": 2,
        "no-new-func": 2,
        "no-process-env": 2,
        "no-spaced-func": 2,
        "no-tabs": 2,
        "no-template-curly-in-string": 2,
        "no-trailing-spaces": 2,
        "no-undef": "off",
        "no-unused-expressions": 2,
        "no-unused-vars": "off",
        "no-use-before-define": 2,
        "no-var": 2,
        "no-whitespace-before-property": 2,
        "object-curly-newline": 2,
        "one-var-declaration-per-line": 2,
        "prefer-const": 2,
        "prefer-promise-reject-errors": "off",
        "prefer-template": 2,
        "quotes": 2,
        "radix": ["error", "as-needed"],
        "require-await": 2,
        "semi": 2,
        "semi-spacing": 2,
        "semi-style": 2,
        "space-before-blocks": 2,
        "space-before-function-paren": [
            "error",
            {"anonymous": "always", "named": "never", "asyncArrow": "always"}
        ],
        "space-in-parens": 2,
        "space-infix-ops": 2,
        "space-unary-ops": 2,
        "spaced-comment": 2,
        "template-curly-spacing": 2,
        "object-curly-spacing": ["error", "always"],
        "@typescript-eslint/no-unused-vars": 2
    },
    "env": {
        "node": true,
        "commonjs": true,
        "mocha": true,
        "es6": true
    }
}