{% extends "layout.html" %}

{% block pageTitle %}
  Restricted words - Add New Word
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/" + urlPrefix
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {%if errors.length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <h1 class="govuk-heading-xl">Add a restricted word</h1>
      <form method="POST" action="/{{urlPrefix}}/add-new-word">
        <input type="hidden" name="deleteConflicting" value="{{hasConflicting === true}}" />

        {% if hasConflicting %}

          {% set pluralS = "s" if conflictingWords.length > 1 else "" %}
          {% set determiner = " " if conflictingWords.length > 1 else " a " %}
          {% set wordOrPhrase = "phrase" if word.indexOf(" ") > -1 else "word" %}

          <p>The {{wordOrPhrase}} <b>{{word}}</b> contains{{determiner}}word{{pluralS}} on the excluded word list. This means the {{wordOrPhrase}} would be excluded from restricted word checks.</p>
          <p>If you add <b>{{word}}</b> to the list, the following word{{pluralS}} will be deleted from the excluded word list:</p>

          <ul class="govuk-list govuk-list--bullet">
            {% for conflictingWord in conflictingWords %}
              <li>{{conflictingWord}}</li>
            {% endfor %}
          </ul>

          <input type="hidden" name="word" value="{{word}}" />

          {{ govukButton({
            text: "Add " + wordOrPhrase + " and delete excluded word" + pluralS,
            classes: "govuk-!-margin-right-1",
            preventDoubleClick: true,
            attributes: { id: "add-word-button" }
          }) }}
        {% else %}
          {{ govukInput({
            label: {
              text: "Which word do you want to add?",
              isPageHeading: false,
              classes: "govuk-label--m"
            },
            id: "event-name",
            name: "word",
            value: word
          }) }}
          {% set superChecked = superRestricted == true %}
          {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "super-restricted",
            name: "superRestricted",
            fieldset: {
              legend: {
                text: "Is this a super restricted word?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "This is an exceptionally offensive word which will be checked in the articles."
            },
            items: [
              {
                value: "true",
                text: "Yes",
                checked: superChecked
              },
              {
                value: "false",
                text: "No",
                checked: not superChecked
              }
            ]
          }) }}
          {{ govukButton({
            text: "Add new word",
            classes: "govuk-!-margin-right-1",
            preventDoubleClick: true,
            attributes: { id: "add-word-button" }
          }) }}
        {% endif %}
        {{ govukButton({
          text: "Cancel",
          classes: "govuk-button--secondary",
          href: "/" + urlPrefix,
          attributes: { id: "cancel-add-word-button" }
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
