{% extends "layout.html" %}

{% block pageTitle %}
  Restricted words
{% endblock %}

{% block content %}
  {%if deletedWord %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ chNotification({
        titleText: "You've deleted the word " + deletedWord
      }) }}
      </div>
    </div>
  {% endif %}
  {%if addedWord %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ chNotification({
        titleText: "You've added the word " + addedWord
      }) }}
      </div>
    </div>
  {% endif %}
  {%if errors.length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors
    }) }}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-xl">Restricted words</h1>
      {{ govukButton({
        text: "Add new word",
        href: "/" + urlPrefix + "/add-new-word"
      }) }}
    </div>
  </div>
  <h2 class="govuk-heading-l">All words</h2>
  {% if words.length > 0 %}
    <div class="govuk-grid-row">
      {% include "includes/filters.html" %}
      <div class="govuk-grid-column-three-quarters column-results column-results--active">
        <table class="govuk-table" id="all-words-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Word</th>
              <th class="govuk-table__header" scope="col">Added by</th>
              <th class="govuk-table__header" scope="col">Added on</th>
              <th class="govuk-table__header" scope="col">Removed on</th>
              <th class="govuk-table__header" scope="col">Manage</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for word in words %}
              <tr id="word-{{word.id}}" class="govuk-table__row">
                <th class="govuk-table__header" scope="row">
                  {{ word.word }}
                </th>
                <td class="govuk-table__cell" scope="row">
                  {{ word.createdBy }}
                </td>
                <td class="govuk-table__cell" scope="row">
                  {{ word.createdAt }}
                </td>
                <td class="govuk-table__cell" scope="row">
                  {{ word.deletedAt }}
                </td>
                <td class="govuk-table__cell" scope="row">
                  {{ govukButton({
                    text: "Delete",
                    classes: "govuk-button--secondary govuk-!-margin-0",
                    href: "/" + urlPrefix + "/delete?id=" + word.id + "&word=" + word.word
                  }) }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="govuk-grid-row">
          {{ enhancedPagination(pagination, filterUrl) }}
        </div>
      </div>
    </div>
  {% else %}
    <div class="govuk-grid-row">
      {% include "includes/filters.html" %}
      <div class="govuk-grid-column-three-quarters column-results column-results--active">
        <p>There are no words to show</p>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block pageScripts %}
{% endblock%}
