{% extends "layout.html" %}

{% block pageTitle %}
  Restricted words
{% endblock %}

{% block content %}
  {%if deletedWord %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ chNotification({
        titleText: "You've deleted the word " + deletedWord
      }) }}
      </div>
    </div>
  {% endif %}
  {%if addedWord %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ chNotification({
        titleText: "You've added the word " + addedWord.toUpperCase() + "."
      }) }}
      </div>
    </div>
  {% endif %}
  {%if errors.length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors
    }) }}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">Restricted words list</h1>
      {{ govukButton({
        text: "Add new word",
        href: "/" + urlPrefix + "/add-new-word",
        attributes: { id: "add-new-word-button" }
      }) }}
    </div>
  </div>
  {% if words.length > 0 %}
    <div class="govuk-grid-row">
      {% include "includes/filters.html" %}
      <div class="govuk-grid-column-three-quarters column-results column-results--active">
        <table class="govuk-table" id="all-words-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Restricted Word</th>
              <th class="govuk-table__header" scope="col">Date Added</th>
              <th class="govuk-table__header" scope="col">Date Removed</th>
              <th class="govuk-table__header" scope="col">Super restricted?</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for word in words %}
              <tr id="word-{{word.id}}" class="govuk-table__row">
                <th class="govuk-table__header" scope="row">
                  <a href="/{{ urlPrefix }}/word/{{ word.id }}" class="govuk-link govuk-link--no-visited-state">{{ word.word }}</a>
                </th>
                <td class="govuk-table__cell">
                  {{ word.createdAt }}<br />
                  <span class="govuk-body-s">By {{ word.createdBy }}</span>
                </td>
                <td class="govuk-table__cell">
                  {% if word.deleted %}
                    {{ word.deletedAt }}<br />
                    <span class="govuk-body-s">By {{ word.deletedBy }}</span>
                  {% else %}
                    -
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  {{ "Yes" if word.superRestricted else "No" }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="govuk-grid-row">
          {{ enhancedPagination(pagination, filterUrl) }}
        </div>
      </div>
    </div>
  {% else %}
    <div class="govuk-grid-row">
      {% include "includes/filters.html" %}
      <div class="govuk-grid-column-three-quarters column-results column-results--active">
        <p>
          {% if not filterParams.word %}
            No words are on the
          {% else %}
            The word {{filterParams.word}} is not on the
          {% endif %}
          {% if filterParams.status === "Active" %}
            Active list.
          {% elif filterParams.status === "Deleted" %}
            Deleted list.
          {% else %}
            Active or Deleted list.
          {% endif %}
        </p>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block pageScripts %}
{% endblock%}
