{% extends "layout.html" %}

{% block pageTitle %}
  Restricted words - Delete Word
{% endblock %}

{% set backUrl = "/" + urlPrefix + "/word/" + id %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backUrl
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {%if errors.length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <h1 class="govuk-heading-xl">Delete word</h1>
      <p class="govuk-body-l">You are about to delete <span>{{word}}</span></p>
      <form method="POST" action="/{{urlPrefix}}/delete">
        <input type="hidden" name="id" value="{{ id }}" />
        <input type="hidden" name="word" value="{{ word }}" />
        {{ govukTextarea({
          name: "justification",
          id: "justification",
          label: {
            text: "What is the justification to delete this word?",
            classes: "govuk-body-l"
          },
          maxlength: 200
        }) }}
        {{ govukButton({
          text: "Delete word",
          classes: "govuk-!-margin-right-1",
          preventDoubleClick: true,
          attributes: { id: "delete-word-button" }
        }) }}
        {{ govukButton({
          text: "Cancel",
          classes: "govuk-button--secondary",
          href: backUrl,
          attributes: { id: "cancel-delete-word-button" }
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
