{% extends "layout.html" %}
{% block pageTitle %}
  Restricted words - Companies House Internal Service
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "all"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">
      <h1 class="govuk-heading-xl">{{word.word}}</h1>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Added by"
            },
            value: {
              text: " 	rdavies@companieshouse.gov.uk "
            }
          },
          {
            key: {
              text: "Date added"
            },
            value: {
              text: "02/03/2016"
            }
          },
          {
            key: {
              text: "Removed by"
            },
            value: {
              html: "ddavies@companieshouse.gov.uk"
            }
          },
          {
            key: {
              text: "Date removed"
            },
            value: {
              html: "25/04/2021"
            }
          },

          {
            key: {
              text: "Super restricted"
            },
            value: {
              html: 'No'
            }
          }
        ]
      }) }}
      {{ govukButton({
        text: "Delete word",
        href: "delete-word?word=" + word + '',
        classes: "govuk-button--warning"
      }) }}
      <h2 class="govuk-heading-l">Super restricted word</h2>
      {{ govukRadios({
      classes: "govuk-radios--inline",
      idPrefix: "super-restricted-word",
      name: "super-restricted-word",
      fieldset: {
        legend: {
          text: "Is this a super restricted word?"
        }
      },
      hint: {
        text: "This is an exceptionally offensive word which will be checked in documents."
      },
      items: [
        {
          value: "yes",
          text: "Yes",
          checked: true
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}
      {{ govukButton({
        text: "Update"
      }) }}
      {{ govukTable({
        caption: "Super restricted history",
        captionClasses: "govuk-table__caption--m",
        head: [
          {
            text: "Date"
          },
          {
            text: "Updated by"
          },
          {
            text: "Super restricted?"
          }
        ],
        rows: [
          [
            {
              text: "02/04/2020"
            },
            {
              text: "sberry@companieshouse.gov.uk"
            },
            {
              text: "Yes"
            }
          ],
          [
            {
              text: "03/05/2019"
            },
            {
              text: "sberry@companieshouse.gov.uk"
            },
            {
              text: "No"
            }
          ],
          [
            {
              text: "22/08/2016"
            },
            {
              text: "sberry@companieshouse.gov.uk"
            },
            {
              text: "Yes"
            }
          ]
        ]
      }) }}
    </div>
  </div>
{% endblock %}
