{% extends "layout.html" %}
{% block pageTitle %}
  {{ word.word }} - Restricted words - Companies House Internal Service
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/" + urlPrefix
  }) }}
{% endblock %}
{% block content %}
  {%if setSuperRestricted %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ chNotification({
          titleText: "You've set super restricted to " + ("Yes" if word.superRestricted else "No")
        }) }}
      </div>
    </div>
  {% endif %}
  {%if errors.length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors
    }) }}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">
      <h1 class="govuk-heading-xl">{{word.word}}</h1>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Added by"
            },
            value: {
              text: word.createdBy
            }
          }, {
            key: {
              text: "Date added"
            },
            value: {
              text: word.createdAt
            }
          }, {
            key: {
              text: "Removed by"
            },
            value: {
              html: word.deletedBy if word.deleted else "-"
            }
          }, {
            key: {
              text: "Date removed"
            },
            value: {
              html: word.deletedAt
            }
          }, {
            key: {
              text: "Super restricted"
            },
            value: {
              html: "Yes" if word.superRestricted else "No"
            }
          }
        ]
      }) }}
      {% if not word.deleted %}
        {{ govukButton({
          text: "Delete word",
          href: "/" + urlPrefix + "/delete?id=" + word.id + "&word=" + word.word,
          classes: "govuk-button--warning"
        }) }}

        <h2 class="govuk-heading-l">Super restricted word</h2>
        <form action="/{{ urlPrefix }}/set-super-restricted" method="POST">
          <input type="hidden" name="id" value="{{ word.id }}" />
          {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "super-restricted-word",
            name: "superRestricted",
            fieldset: {
              legend: {
                text: "Is this a super restricted word?"
              }
            },
            hint: {
              text: "This is an exceptionally offensive word which will be checked in documents."
            },
            items: [
              {
                value: true,
                text: "Yes",
                checked: word.superRestricted
              },
              {
                value: false,
                text: "No",
                checked: not word.superRestricted
              }
            ]
          }) }}
          {{ govukButton({
            text: "Update"
          }) }}
        </form>
      {% endif %}
      {{ govukTable({
        caption: "Super restricted history",
        captionClasses: "govuk-table__caption--m",
        head: [
          {
            text: "Date"
          },
          {
            text: "Updated by"
          },
          {
            text: "Super restricted?"
          }
        ],
        rows: wordHistory
      }) }}
    </div>
  </div>
{% endblock %}