<div
  class="js-dismissible govuk-notification
  {%- if params.classes %} {{ params.classes }}{% endif %}"
  aria-labelledby="notification-summary-title"
  role="notification"
  tabindex="-1"
  {%- for attribute, value in params.attributes %}
    {{ attribute }}="{{ value }}"
  {% endfor %}
  data-module="error-summary">
  <h2 class="govuk-heading-m" id="notification">
    {{ params.titleHtml | safe if params.titleHtml else params.titleText }}
  </h2>
  <p class="js-is-disabled">
    <a href="#" class="js-dismiss-button">Dismiss</a>
  </p>
</div>
